<div>
    <h2 id="page-heading">
        <span jhiTranslate="mitiendaApp.producto.home.title">Productos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-producto" [routerLink]="['/producto/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="mitiendaApp.producto.home.createLabel">
            Create a new Producto
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productos?.length === 0">
        <span jhiTranslate="mitiendaApp.producto.home.notFound">No productos found</span>
    </div>
    <div *ngIf="productos">
        <div class="list-group">
          <a class="list-group-item list-group-item-action flex-column
           align-
            items-start"
            *ngFor="let producto of productos; trackBy: trackId">
            <div class="d-flex w-100 justify-content-between">
              <a [routerLink]="['/producto', producto.id, 'view']">
                <h5 class="mb-1">{{ producto.nombre }}</h5>
              </a>
              <small *ngIf="producto.productCategoriaId">
                <a [routerLink]="['/producto-categoria', producto
                    .productCategoriaId?.id, 'view']">
                  {{ producto.productCategory?.id }}
                </a>
              </small>
            </div>
            <small class="mb-1">{{ producto.descripcion }}</small>
            <p class="mb-1">Price: {{ producto.precioVenta }}</p>
            <small>

                {{ producto.estado }}

            </small>
          </a>
        </div>
      </div>

    <div *ngIf="productos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
